.offer-item {
    h1 {
        color: var(--ion-color-primary);
        font-size: 18px;
    }
    
    .offer-detail {
        align-items: center;
        display: flex;
        .space-left {
            margin-left: 5px;
        }
    }
}

